
<div class="container">
  <div class="banner" *ngFor="let item of posts">
    <div class="top-banner">
    CLOUD AND SERVER
    </div>
    <hr>
    
    <div>
      <a href={{item.link}}>
        <img mat-card-image src={{item.featured_media}} alt="featured_media">
        <h3>{{item.title.rendered}}</h3>
      </a>
  
      <div class="author">
        <i>
          By <a href={{item._embedded.author[0].link}}>{{item._embedded.author[0].name}}</a> 
          on {{item.date | date: 'd MMMM  y'}}
        </i>
      </div>
    </div>
    
    <hr>
    <div>Article</div>
  </div>
</div>

